@font-face {
  font-family: "Nunito";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-Black.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-ExtraBold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-SemiBold.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-Medium.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/nunito/Nunito-ExtraLight.ttf") format("opentype");
  font-display: swap;
}
